# Python

- foundation in the late 1980s.
- The implementation of Python was started in December 1989 by Guido Van Rossum at CWI in Netherland.
- In February 1991, Guido Van Rossum published the code (labeled version 0.9.0) to alt.sources.
- In 1994, Python 1.0 was released with new features like lambda, map, filter, and reduce.
- Python 2.0 added new features such as list comprehensions, garbage collection systems.
- On December 3, 2008, Python 3.0 (also called "Py3K") was released. It was designed to rectify the fundamental flaw of the language.
- ABC programming language is said to be the predecessor of Python language, which was capable of Exception Handling and interfacing with the Amoeba Operating System.
- The following programming languages influence Python:
    ABC language.
    Modula-3

**1.Keywords**

||||||
|:---|:---|:---|:----|:----|
|True|False|None|and|as|
|asset|def|class|continue|break|
|else|finally|elif|del|except|
|global|for|if|from|import|
|raise|try|or|return|pass|
|nonlocal|in|not|is|lambda|

**2. Comment**

In [4]:
# single line comment

In [5]:
"""""
multiple line comment
multiple line comment
multiple line comment
"""""

'""\nmultiple line comment\nmultiple line comment\nmultiple line comment\n'

**2. Datatype**

<code>Datatype : 
            numerical : int, float, complex.  
            interable : list, tuple, set, dict, str
</code>

<code >
    1. None Type                     : None
    2. Boolean type                  : bool
    2. Numeric types                 : int, float, complex
    3. Iterator
         a. Sequence Types           : list, tuple, range
         b. Text Sequence Type       : str
         c. Binary Sequence Types    : bytes, bytearray, memoryview
    4. Set Types                     : set, frozenset
    5. Mapping Types                 : dictS
       
</code>

In [6]:
a=None                                          #None
b=True                                          #bool 
c=10                                            #int
d=10.5                                          #float
e=2.0 + 2.3j                                    #complex
f= [1, "hi", "python", 2]                       #list
g=("hi", "python", 2)                           #tuple
h={1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     #dict
i={'Friday', 'Tuesday', 'Monday', 'Saturday'}   #set
j="Hi Python"                                   #str

**3. input()**

In [1]:
input("Enter : ")   #return Type Str

Enter : hgh

'hgh'

**4. print()**

    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [56]:
#help(print)

In [57]:
print("hello","Sunny")

hello Sunny

In [58]:
B='Sunny'
print("hello",B)

hello Sunny

In [59]:
print("This is first program:", end=" ")
print("of Comment, Escape Sequences & Print")

This is first program: of Comment, Escape Sequences & Print

In [61]:
print("This is first program:", end="\n")
print("of Comment, Escape Sequences & Print")

This is first program:
of Comment, Escape Sequences & Print

In [55]:
# Rings bells                       \a  
print("\a")

# Print from feed Charecter        \f
print("Hello\f       World")

# Print newline Charecter          \n
print("Hello\nWorld")

# print a tab                      \t
print("Hello\tWorld")

# print a backspace                \b
print("Hello\bWorld")


Hello       World
Hello
World
Hello	World
HelloWorld

**6. type( )**

In [17]:
print("a:",type(a))
print("b:",type(b))
print("c:",type(c))
print("d:",type(d))
print("e:",type(e))
print("f:",type(f))
print("g:",type(g))
print("h:",type(h))
print("i:",type(i))
print("j:",type(j))

a: <class 'NoneType'>
b: <class 'bool'>
c: <class 'int'>
d: <class 'float'>
e: <class 'complex'>
f: <class 'list'>
g: <class 'tuple'>
h: <class 'dict'>
i: <class 'set'>
j: <class 'str'>

In [3]:
# type of class is 'type'
class Circle(object):
     def __init__():
            pass

In [4]:
print(type(Circle))

<class 'type'>

**7. id()**

In [5]:
x = 2
id(x)  # id is unique memory address

140719079457072

In [6]:
a=id(Circle)
hex(a)

'0x2d1e3661478'

In [12]:
# b is new name for a
a = [1, 2, 3]
# b = a.copy()
b=a

In [13]:
print("id a:",id(a))
print("id b:",id(b))
print("a is b:",a is b)

id a: 3100497229256
id b: 3100497229256
a is b: True

In [14]:
# since a and b are same, hence if modify b, a also changes
b.append(3)
print("id a:",id(a))
print("id b:",id(b))
print("a is b:",a is b)

id a: 3100497229256
id b: 3100497229256
a is b: True

In [15]:
a

[1, 2, 3, 3]

In [17]:
a=5

In [18]:
b=a

In [22]:
id(b)

140719079457168

In [23]:
id(a)

140719079457200

In [19]:
a=6

In [20]:
b

5

**8.compile()**

In [26]:
py_code = 'x=5\ny=10\nprint("sum =",x+y)'  
a=compile(py_code, 'sum.py', 'exec')  
print(a)

<code object <module> at 0x000001FF0D28E0C0, file "sum.py", line 1>

**9. exec()**

In [27]:
exec(a)

sum = 15

In [53]:
x = 8  
exec('print(x==8)')  
exec('print(x+4)')

True
12

In [29]:
# Calling function
result = slice(5) # returns slice object
result2 = slice(0,5,3) # returns slice object
# Displaying result
print(result)
print(result2)

slice(None, 5, None)
slice(0, 5, 3)

In [34]:
#help(globals)
age = 22

globals()['age'] = 22
def glo():
    print('The age is:', age) 
glo()

The age is: 22

In [31]:
#help(callable)
x = 8  
print(callable(x))

False

In [54]:
#help(hash)
# Calling function
result = hash(21) # integer value
result2 = hash(22.2) # decimal value
# Displaying result
print(result)
print(result2)

21
461168601842737174