# Python

**1. Comment**

In [ ]:
# single line comment

In [ ]:
"""""
multiple line comment
multiple line comment
multiple line comment
"""""

**2. input()**

In [ ]:
input("Enter : ")   #return Type Str

**3. print()**

    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [ ]:
#help(print)

In [ ]:
# Rings bells                       \a  
print("\a")

In [ ]:
# Print from feed Charecter        \f
print("Hello\fWorld")

In [ ]:
# Print newline Charecter          \n
print("Hello\nWorld")

In [ ]:
# print a tab                      \t
print("Hello\tWorld")

In [ ]:
print("Hello\bWorld")

In [ ]:
print("This is first program:", end=" ")
print("of Comment, Escape Sequences & Print")

In [ ]:
print("This is first program:", end="\n")
print("of Comment, Escape Sequences & Print")

**4. Datatype**

<code>Datatype : 
            numerical : int, float, complex.  
            interable : list, tuple, set, dict, str
</code>

<code >
    1. None Type                     : None
    2. Boolean type                  : bool
    2. Numeric types                 : int, float, complex
    3. Iterator
         a. Sequence Types           : list, tuple, range
         b. Text Sequence Type       : str
         c. Binary Sequence Types    : bytes, bytearray, memoryview
    4. Set Types                     : set, frozenset
    5. Mapping Types                 : dict
</code>

In [5]:
a=None                                          #None
b=True                                          #bool 
c=10                                            #int
d=10.5                                          #float
e=2.0 + 2.3j                                    #complex
f= [1, "hi", "python", 2]                       #list
g=("hi", "python", 2)                           #tuple
h={1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     #dict
i={'Friday', 'Tuesday', 'Monday', 'Saturday'}   #set
j="Hi Python"                                   #str

In [24]:
x = 2
id(x)  # id is unique memory address

140706935963952

In [25]:
id(x)

140706935963952

In [26]:
# type of class is 'type'
class Circle(object):
     pass

In [27]:
id(Circle)

2500338616840

In [28]:
type(Circle)

type

**‘is’ operator**

In [ ]:
a = [1, 2, 3]
b = a # b is new name for a

In [29]:
# a and b have same id
id(a)

2500349530568

In [30]:
id(b)

2500349530568

In [31]:
a is b

True

In [32]:
# since a and b are same, hence if modify b, a also changes
b.append(3)
a

[1, 2, 3, 3]

# <center>Built-in Functions</center>

**1. type( )**

In [6]:
type(a)

NoneType

In [7]:
type(b)

bool

In [9]:
type(c)

int

In [10]:
type(d)

float

In [11]:
type(e)

complex

In [12]:
type(f)

list

In [13]:
type(g)

tuple

In [14]:
type(h)

dict

In [15]:
type(i)

set

In [16]:
type(j)

str

**2.compile()**

In [21]:
py_code = 'x=5\ny=10\nprint("sum =",x+y)'  
a=compile(py_code, 'sum.py', 'exec')  
print(a)

<code object <module> at 0x00000246287ACDB0, file "sum.py", line 1>

**3. exec()**

In [23]:
exec(a)

sum = 15

In [22]:
x = 8  
exec('print(x==8)')  
exec('print(x+4)')

True
12