## 1. Variable Declaring And Assigning

In [1]:
a = 15
a

15

In [1]:
a=5;b=5

In [ ]:
a,b=5,6

In [1]:
#c=3 d=4 wrong
a2=34; a3=3
print(a2 , a3)

34 3

In [3]:
a4,a5=3,4       #Assigning multiple values to multiple variables
print(a4 , a5)

3 4

In [4]:
a6=a7=a8=a9=45    #Assigning single value to multiple variables
print(a6,a7,a8,a9,45)

45 45 45 45 45

In [ ]:
a=b=c=d=25

## 2. Operators¶

In [3]:
a = 15
b = 7

### a. Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

In [4]:
#1.+ (Addition)
a + b

22

In [6]:
#2.- (Subtraction)
a - b

8

In [7]:
#3./ (divide)
a / b

2.142857142857143

In [8]:
#4.* (Multiplication)
a * b

105

In [9]:
#5.% (reminder)
a % b      #the Modulus % shows the reminder of the operation (Ex. a divided by b)

1

In [10]:
#6.** (Exponent)
a ** b     #the Exponentiation ** shows the power of first number (Ex. a to the power of b)

170859375

In [11]:
#7.// (Floor division)
a // b     #the Floor Division // rounds the result down to the nearest whole number

2

### b. Assignment operators
Assignment operators are used to assign values to variables:

In [13]:
a = 15
a += 5          #same as (a = a+5)
a

20

In [14]:
a = 15
a -= 5          #same as (a = a-5)
a

10

In [15]:
a = 15
a *= 5          #same as (a = a*5)
a

75

In [16]:
a = 15
a /= 5          #same as (a = a/5)
a

3.0

In [17]:
a = 15
a %= 5          #same as (a = a%3)
a

0

In [18]:
a = 15
a //= 5         #same as (a = a//5)
a

3

In [19]:
a = 15
a **= 5         #same as (a = a**5)
a

759375

### c. Comparison Operators
Comparison operators are used to compare two values:

In [25]:
a = 5
b = 3

In [26]:
a == b       #returns False because 5 is not equal to 3

False

In [27]:
a != b       #returns True because 5 is not equal to 3

True

In [28]:
a > b       #returns True because 5 is greater than 3

True

In [29]:
a < b       #returns False because 5 is not lesser than 3

False

In [30]:
a >= b      #returns True because 5 is greater than 3

True

In [31]:
a <= b      #returns False because 5 is not lesser than 3

False

### d. Logical Operators
Logical operators are used to combine conditional statements:

In [ ]:
0/False/Off
1/True/On

In [ ]:
# or
0  + 0  = 0
0  + 1  = 1
1  + 0  = 1 
1  + 1  = 1

In [ ]:
# and
0  . 0  = 0
0  . 1  = 0
1  . 0  = 0 
1  . 1  = 1

In [ ]:
# not
0  = 1
1  = 0

In [32]:
a = 5
a > 3 and a < 10         # returns True because 5 is greater than 3 AND 5 is less than 10

True

In [33]:
a > 3 or a < 4           # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [34]:
not(a > 3 and a < 10)    # returns False because not is used to reverse the result

False

### e. Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [15]:
a = [10, 5]
b = [10, 6]
c = a

In [16]:
a is c

True

In [37]:
a == b
a is b

False

In [38]:
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because a is equal to b
a is not c

False

In [39]:
a is not b

True

### f. Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [40]:
a = ["10", "5"]
"5" in a

True

In [41]:
"3" not in a

True

### g. Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

In [ ]:
16 8 4 2 1 
0  1 0 1 0

In [42]:
a = 10
B=bin(a)
B

'0b1010'

In [43]:
int(B, 2)

10

In [45]:
# and
(0&0),(0&1),(1&0),(1&1)

(0, 0, 0, 1)

In [46]:
(False&False),(False&True),(True&False),(True&True)

(False, False, False, True)

In [47]:
# or
(0|0),(0|1),(1|0),(1|1)

(0, 1, 1, 1)

In [48]:
(False|False),(False|True),(True|False),(True|True)

(False, True, True, True)

In [ ]:
# xor
0   0   0
1   0   1
0   1   1
1   1   0

In [49]:
(0^0),(0^1),(1^0),(1^1)

(0, 1, 1, 0)

In [50]:

(False^False),(False^True),(True^False),(True^True)

(False, True, True, False)

In [ ]:
5|5

**Bitwise 2’s Complement (~)**

In [21]:
a=~2
a

-3

In [20]:
bin(a)

'-0b11'

In [52]:
bin(2),bin(-3)

('0b10', '-0b11')

**Bitwise Left-Shift Operator (<<)**

In [ ]:
16 8 4 2 1 
0  1 1 0 0

In [53]:
2<<1,bin(2),bin(4)

(4, '0b10', '0b100')

In [54]:
3<<2,bin(3),bin(12)

(12, '0b11', '0b1100')

**Bitwise Right-Shift Operator (>>)**

In [55]:
3>>1,bin(3),bin(1)

(1, '0b11', '0b1')

In [12]:
# a = 20
# a &= 5          #same as (a = a&5)
# a

4

In [21]:
# a = 15
# a |= 5          #same as (a =x|5)
# a

15

In [22]:
# a = 15
# a ^= 5          #same as (a = a^5)
# a

10

In [23]:
# a = 15
# a >>= 5         #same as (a = a>>5)
# a

0

In [24]:
# a = 15
# a <<= 5         #same as (a = a<<5)
# a

480