In [1]:
#help(string)

In [2]:
str1=str()
type(str1),str1

(str, '')

In [3]:
str1=""
type(str1),str1

(str, '')

In [4]:
str1="Hi Python"
type(str1),str1

(str, 'Hi Python')

In [5]:
str1 = str(input("Enter STR  :  "))
str1

Enter STR  :  hello

'hello'

**STRING SLICING**

In [6]:
str1 = "String is a combination of characters"

[ Initial : End : IndexJump ]

In [7]:
print(str1[5])       # g is at 5th position
print(str1[0:5])     # from 0 index to total 5 characters
print(str1[0:38:2])  # It will print alternet characters
print(str1[0:])      # It will print full lenght of characters - take all characters after :
print(str1[:23])     # It will print total 23 characters - starts from 0 by default
print(str1[::])      # It will print full characters by default
print(str1[-3:])     # It will print from right to left
print(str1[3:])      # It will print full lenght but replace first 3 characters
print(str1[::-1])    # It will print all characters reverse

g
Strin
Srn sacmiaino hrces
String is a combination of characters
String is a combination
String is a combination of characters
ers
ing is a combination of characters
sretcarahc fo noitanibmoc a si gnirtS

In [ ]:
A="   HELLO    "

------------------------------------------------------------------------------------------------------------------------

### Method in str or bytes

**1.split**
- the maxsplit parameter to 1, will return a list with 2 elements!


        - partition(self, sep, /)                      # bytes and str
        - rpartition(self, sep, /)                     # bytes and str
        - split(self, /, sep=None, maxsplit=-1)        # bytes and str
        - rsplit(self, /, sep=None, maxsplit=-1)       # bytes and str
        - rstrip(self, bytes=None, /)                  # bytes and str
        - splitlines(self, /, keepends=False)          # bytes and str

In [8]:
"I could eat bananas all day".partition("bananas")

('I could eat ', 'bananas', ' all day')

In [9]:
"I could eat bananas all day".partition("apples")

('I could eat bananas all day', '', '')

In [10]:
"I could eat bananas all day, bananas are my favorite fruit".rpartition("bananas")

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [11]:
"welcome to the jungle".split()

['welcome', 'to', 'the', 'jungle']

In [12]:
"hello, my name is Peter, I am 26 years old".split(", ")

['hello', 'my name is Peter', 'I am 26 years old']

In [13]:
"apple, banana, cherry".rsplit(", ")

['apple', 'banana', 'cherry']

In [14]:
"apple, banana, cherry".rsplit(", ", 1)

['apple, banana', 'cherry']

In [15]:
"apple#banana#cherry#orange".split("#", 1)

['apple', 'banana#cherry#orange']

In [16]:
"Thank you for the music\nWelcome to the jungle".splitlines()

['Thank you for the music', 'Welcome to the jungle']

**2.add-Space-Chr**

        - .center(...)
        - .ljust(width[, fillchar])
        - .rjust(...)
        - .zfill(...)

In [17]:
"banana".center(20)

'       banana       '

In [18]:
"banana".center(20, "|")

'|||||||banana|||||||'

In [20]:
"banana".ljust(20)

'banana              '

In [21]:
"banana".rjust(20)

'              banana'

In [152]:
"banana".rjust(20, "O")

'OOOOOOOOOOOOOObanana'

In [153]:
"50".zfill(10)

'0000000050'

**3. Strip - Left, Right, Chr**

        .isspace(...)
        .lstrip(self, bytes=None, /)
        .strip(self, bytes=None, /)

In [24]:
"   ".isspace()

True

In [25]:
"   s   ".isspace()

False

In [26]:
"    Hello    hello    ".strip()

'Hello    hello'

In [27]:
"   ,,,,,ssaaww.....banana     ".lstrip()

',,,,,ssaaww.....banana     '

In [28]:
",,,,,ssaaww.....banana".lstrip(",.asw")

'banana'

In [29]:
",,,,,rrttgg.....banana....rrr".strip(",.grt")

'banana'

**4. int Chr**

    .isdigit(...)
    .isdecimal()
    #isnumeric(self, /)

In [30]:
"50800".isdigit()

True

In [31]:
"\u0030".isdigit() #unicode for 0

True

In [32]:
"\u00B2".isdigit() #unicode for ²

True

In [33]:
"\u0033".isdecimal() #unicode for 3

True

In [34]:
"\u0030".isdecimal() #unicode for 0

True

In [35]:
"\u0047".isdecimal() #unicode for G

False

In [36]:
"565543".isnumeric()

True

In [37]:
"\u0030".isnumeric() #unicode for 0

True

In [38]:
"\u00B2".isnumeric() #unicode for &sup2;

True

In [39]:
"10km2".isnumeric()

False

In [40]:
"-1".isnumeric()

False

In [41]:
"1.5".isnumeric()

False

**Chr Case**

    .capitalize(...)
    #casefold(self, /)
    .isalnum(...)
    .isalpha(...)
    #isidentifier(self, /)
    islower(...)
    #isprintable(self, /)
    .istitle(...)
    .isupper(...)
    .lower(...)
    .swapcase(...)
    .title(...)
    .upper(...)

In [42]:
"Company12".isalnum()    #alpha + num  without Special Char or Sign

True

In [43]:
"CompanyX".isalpha()

True

In [44]:
"Demo".isidentifier()

True

In [45]:
"Hello! Are you #1?".isprintable()

True

In [46]:
"Hello, And Welcome To My World!".istitle()

True

In [47]:
"THIS IS NOW!".isupper()

True

In [48]:
"hello world!".islower()

True

In [49]:
str1 = "String is a combination of characters"

In [50]:
str1.title()

'String Is A Combination Of Characters'

In [51]:
str1.capitalize()

'String is a combination of characters'

In [52]:
str1.upper()

'STRING IS A COMBINATION OF CHARACTERS'

In [53]:
str1.lower()

'string is a combination of characters'

In [54]:
str1.casefold()

'string is a combination of characters'

In [55]:
str1.swapcase()

'sTRING IS A COMBINATION OF CHARACTERS'

**other**

    .count(...)
    .endswith(...)
    .expandtabs(...)
    .find(...)
    .index(...)
    .join(self, iterable_of_bytes, /)
    .replace(self, old, new, count=-1, /)
    .rfind(...)
    .rindex(...)
    .startswith(...)

In [56]:
"of of of of fo".count("of")

4

In [57]:
"I love apples, apple are my favorite fruit".count("apple")

2

In [58]:
"I love apples, apple are my favorite fruit".count("apple", 10, 24)

1

In [59]:
" hello functions ".endswith("functions")

False

In [60]:
" hello functions".endswith("functions")

True

In [61]:
"Hello, welcome to my world.".endswith("my world.", 5, 11)

False

In [62]:
"H\te\tl\tl\to".expandtabs(4)

'H   e   l   l   o'

In [63]:
"Hello, welcome to my world.".find("welcome")

7

In [64]:
"Hello, welcome to my world.".find("e", 5, 10)

8

In [65]:
"Mi casa, su casa.".rfind("casa")

12

In [66]:
"Hello, welcome to my world.".index("welcome")

7

In [67]:
"Hello, welcome to my world.".index("e", 5, 10)

8

In [68]:
"Mi casa, su casa.".rindex("casa")

12

In [69]:
"Hello, welcome to my world.".rindex("e", 5, 10)

8

In [70]:
lis1=["I","AM","sunny","Singh",]
"TEST".join(lis1)

'ITESTAMTESTsunnyTESTSingh'

In [71]:
"I like bananas".replace("bananas", "apples")

'I like apples'

In [72]:
"one one was a race horse, two two was one too.".replace("one", "three")

'three three was a race horse, two two was three too.'

In [73]:
"Hello, welcome to my world.".startswith("Hello")

True

In [74]:
"Hello, welcome to my world.".startswith("wel", 7, 20)

True

    decode(self, /, encoding='utf-8', errors='strict')
    #encode(self, /, encoding='utf-8', errors='strict')
    #format(...)
    #format_map(...)
    hex(...)
    .isascii(...)
    fromhex(string, /)
    .translate(self, table, /, delete=b'')
    .maketrans(frm, to, /)

In [75]:
txt="My name is Ståle"

In [76]:
txt.encode()

b'My name is St\xc3\xa5le'

In [77]:
b'My name is St\xc3\xa5le'.decode()

'My name is Ståle'

In [78]:
'0b1000001'.isascii()

True

In [79]:
b'65'.decode(encoding="ascii")

'65'

In [80]:
bin(16)

'0b10000'

In [81]:
hex(16)

'0x10'

In [83]:
"For only {price:.2f} dollars!".format(price = 49)

'For only 49.00 dollars!'

In [84]:
print(txt.encode())
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [85]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83: 80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [86]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [87]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

# <center>Formating</center>
## 1. Using %

    %d – integer
    %f – float
    %s – string
    %x – hexadecimal
    %o – octal
    %r - raw data

In [88]:
variable = '15'
string = "Variable as string = %s" %(variable)  
string

'Variable as string = 15'

In [89]:
"Variable as raw data = %r" %(variable)

"Variable as raw data = '15'"

In [90]:
variable = int(variable)
"Variable as integer = %d" %(variable)

'Variable as integer = 15'

In [91]:
"Variable as float = %f" %(variable)

'Variable as float = 15.000000'

In [92]:
"Variable as printing with special char = %c mayank" %(variable)

'Variable as printing with special char = \x0f mayank'

In [93]:
"Variable as hexadecimal = %x" %(variable)

'Variable as hexadecimal = f'

In [94]:
"Variable as octal = %o" %(variable)

'Variable as octal = 17'

## 2. Using format Function

In [95]:
# integer
format(123, "d")

'123'

In [96]:
# float arguments
format(123.4567898, "f")

'123.456790'

In [97]:
# float arguments
format(123.4567898, ".2f")

'123.46'

In [98]:
# binary format
format(12, "b")

'1100'

In [99]:
format(123, ">8")

'     123'

In [100]:
format(123, "<8") +'ad'

'123     ad'

In [101]:
format(123, "^8")

'  123   '

In [102]:
format(123, "=8")

'     123'

## 3. Using str  format Function, { }
#### 1.  Arguments

In [103]:
'We are the {} who say "{}!"'.format('knights', 'Ni')

'We are the knights who say "Ni!"'

#### 2. Positional Arguments

In [104]:
'{0} and {1}'.format('spam', 'eggs')

'spam and eggs'

#### 3. Keyword arguments

In [105]:
'This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible')

'This spam is absolutely horrible.'

#### 4. Arbitrarily(Positional and keyword arguments can be arbitrarily combined):

In [106]:
'The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg')

'The story of Bill, Manfred, and Georg.'

**example**

    #'!a' (apply ascii()),
    #'!s' (apply str())
    #'!r' (apply repr()) can be used to convert the value before it is formatted:

In [107]:
import math
print('The value of PI is approximately {}.'.format(math.pi))
print('The value of PI is approximately {!r}.'.format(math.pi))
print('The value of PI is approximately {!a}.'.format(ascii(5)))
print('The value of PI is approximately {!s}.'.format(5))
print('The value of PI is approximately {!r}.'.format(5))

The value of PI is approximately 3.141592653589793.
The value of PI is approximately 3.141592653589793.
The value of PI is approximately '5'.
The value of PI is approximately 5.
The value of PI is approximately 5.

In [108]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
     print('{0:10} ==> {1:10d}'.format(name, phone))

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [109]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

**:<		Left aligns the result (within the available space)**

In [110]:
"We have {:<8} chickens.".format(49)

'We have 49       chickens.'

**:>		Right aligns the result (within the available space)**

In [111]:
"We have {:>8} chickens." .format(49)

'We have       49 chickens.'

**:^		Center aligns the result (within the available space)**

In [112]:
"We have {:^8} chickens.".format(49)

'We have    49    chickens.'

**:=		Places the sign to the left most position**

In [113]:
"The temperature is {:=8} degrees celsius.".format(-5)

'The temperature is -      5 degrees celsius.'

**:+		Use a plus sign to indicate if the result is positive or negative**

In [114]:
"The temperature is between {:+} and {:+} degrees celsius.".format(-3, 7)

'The temperature is between -3 and +7 degrees celsius.'

**:-		Use a minus sign for negative values only**

In [115]:
"The temperature is between {:-} and {:-} degrees celsius.".format(-3, 7)

'The temperature is between -3 and 7 degrees celsius.'

**: 		Use a space to insert an extra space before positive numbers (and a minus sign befor negative numbers)**

In [116]:
 "The temperature is between {: } and {: } degrees celsius.".format(-3, 7)

'The temperature is between -3 and  7 degrees celsius.'

**:,	Use a comma as a thousand separator**

In [117]:
"The universe is {:,} years old.".format(13800000000)

'The universe is 13,800,000,000 years old.'

**:_		Use a underscore as a thousand separator**

In [118]:
"The universe is {:_} years old."

'The universe is {:_} years old.'

**:b		Binary format**

In [119]:
"The binary version of {0} is {0:b}" .format(5)

'The binary version of 5 is 101'

**:c		Converts the value into the corresponding unicode character**

**:d		Decimal format**

In [120]:
"We have {:d} chickens.".format(0b101)

'We have 5 chickens.'

**:e		Scientific format, with a lower case e**

In [121]:
"We have {:e} chickens.".format(5)

'We have 5.000000e+00 chickens.'

**:E		Scientific format, with an upper case E**

In [122]:
"We have {:E} chickens." .format(5)

'We have 5.000000E+00 chickens.'

**:f		Fix point number format**

In [123]:
#without the ".2" inside the placeholder, this number will be displayed like this:
"The price is {:.2f} dollars.".format(45)

'The price is 45.00 dollars.'

In [124]:
"The price is {:f} dollars.".format(45)

'The price is 45.000000 dollars.'

**:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)**

In [125]:
x = float('inf')
"The price is {:F} dollars.".format(x)

'The price is INF dollars.'

In [126]:
#same example, but with a lower case f:

In [127]:
"The price is {:f} dollars." .format(x)

'The price is inf dollars.'

**:g		General format**

**:G		General format (using a upper case E for scientific notations)**

**:o		Octal format**

In [128]:
"The octal version of {0} is {0:o}".format(10)

'The octal version of 10 is 12'

**:x		Hex format, lower case**

In [129]:
"The Hexadecimal version of {0} is {0:x}" .format(255)

'The Hexadecimal version of 255 is ff'

**:X		Hex format, upper case**

In [130]:
"The Hexadecimal version of {0} is {0:X}" .format(255)

'The Hexadecimal version of 255 is FF'

**:n		Number format**

**:%		Percentage format**

In [131]:
"You scored {:%}" .format(0.25)

'You scored 25.000000%'

In [132]:
"You scored {:.0%}" .format(0.25)

'You scored 25%'

## 3. Using Template Strings

In [133]:
from string import Template
t = Template('x is $x')
t.substitute({'x' : 1})

'x is 1'

In [134]:
Student = [('Ram',90), ('Ankit',78), ('Bob',92)]
t = Template('Hi $name, you have got $marks marks')
for i in Student:
     print (t.substitute(name = i[0], marks = i[1]))

Hi Ram, you have got 90 marks
Hi Ankit, you have got 78 marks
Hi Bob, you have got 92 marks

In [135]:
template = Template('$name is the $job of $company')
template.safe_substitute(name='Raju Kumar', job='TCE')

'Raju Kumar is the TCE of $company'

In [136]:
t = Template('I am $name from $city')
'Template String =', t.template

('Template String =', 'I am $name from $city')

In [137]:
template = Template('$$ is the symbol for $name')
template.substitute(name='Dollar')

'$ is the symbol for Dollar'

# <center>Type Casting</center>


1. int()     - Integer
2. float()   - Float Value
3. chr()     - Charecter Value
4. complex

In [138]:
#Integers:
int(1)   # x will be 1

1

In [139]:
int(2.8) # y will be 2

2

In [140]:
int("3") # z will be 3

3

In [141]:
#Floats:
float(1)     # x will be 1.0

1.0

In [142]:
float(2.8)   # y will be 2.8

2.8

In [143]:
float("3")   # z will be 3.0

3.0

In [144]:
float("4.2") # w will be 4.2

4.2

In [145]:
#Strings:
str("s1") # x will be 's1'

's1'

In [146]:
str(2)    # y will be '2'

'2'

In [147]:
str(3.0)  # z will be '3.0'

'3.0'

**Note :**
    
 - can't convert complex to int 
 - invalid literal for int() with base 10:

````
## 2. Binary Sequence Types

### bytes

#help(bytes)

string = "Python is interesting."
# string with encoding 'utf-8'
bytes(string, 'utf-8')  

size = 5
bytes(size)

### bytearray

<code>bytearray([source[, encoding[, errors]]])</code>

**source type**

- **String:**	Converts the string to bytes using str.encode() Must also provide encoding and optionally errors
- **Integer:**	Creates an array of provided size, all initialized to null
- **Object:**	A read-only buffer of the object will be used to initialize the byte array
- **Iterable:**	Creates an array of size equal to the iterable count and initialized to the iterable elements Must be iterable of integers between 0 <= x < 256
- **No source (arguments):**	Creates an array of size 0.

# string with encoding 'utf-8'
bytearray("Python is interesting.", 'utf-8')

bytearray(5)

bytearray([1, 2, 3, 4, 5])

### memoryview

random_byte_array = bytearray('ABC', 'utf-8')

mv = memoryview(random_byte_array)
list(mv)

# access memory view's zeroth index
print(mv[0])

# create byte from memory view
print(bytes(mv[0:2]))

# create list from memory view
print(list(mv[0:3]))

# random bytearray
random_byte_array = bytearray('ABC', 'utf-8')
print('Before updation:', random_byte_array)

mv = memoryview(random_byte_array)

# update 1st index of mv to Z
mv[1] = 90
print('After updation:', random_byte_array)

````

# <center>Built-in Functions</center>

**chr( )**

In [155]:
#help(chr)

In [156]:
chr(65)

'A'

**ord( )**

In [157]:
#help(ord)

In [158]:
ord('A')

65

**ascii()**

In [159]:
ascii('Python is interesting')

"'Python is interesting'"

In [160]:
ascii('Pythön is interesting' )

"'Pyth\\xf6n is interesting'"

**bin( )**

In [161]:
bin(7546547)

'0b11100110010011010110011'

**hex( )**

In [162]:
hex(7546547)

'0x7326b3'

**oct( )**

In [163]:
oct(7546547)

'0o34623263'