## 1. tuple( )

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
#help(tuple)

**Create Tuple**

In [ ]:
f=tuple()
type(f),f

In [ ]:
f=()
type(f),f

In [ ]:
#f=('sunny')    #str
f=('sunny',)    #tuple
type(f),f

In [ ]:
f="sunny",
type(f),f

In [ ]:
f="sunny","singht"
type(f),f

**Read Tuple**

In [ ]:
f1=("hi", "python", 2)
print(f1)

In [ ]:
for x in thistuple:
    print(x,end=", ")

In [ ]:
thistuple[1]

In [ ]:
"apple" in thistuple

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

**Update Tuple**

In [ ]:
#'tuple' object does not support item assignment
#thistuple[1] = "blackcurrant"

In [ ]:
f1=f1+("C++",)
f1

**Delete Tuple**

In [ ]:
# thistuple = ("apple", "banana", "cherry")
# del thistuple
# thistuple     # name 'thistuple' is not defined

### Tuple Methods

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.count(5)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.index(8)

**Conversion (Type Casting in Tuple)**

In [ ]:
#int to str to tuple
int1=234567
try:
    t1 = tuple(int1)     #'int' object is not iterable
except:
    t1 = tuple(int(i) for i in str(int1))
    
print(t1)

In [ ]:
#str to tupple
str1 = 'Java'  
t1 = tuple(str1)
print(t1)

In [ ]:
#str to tupple
str1 = 'Java Python'  
t1 = tuple(str1)
print('t1=',t1)

In [ ]:
#str to tupple
str1 = 'Java Python'.split(" ") 
t1 = tuple(str1)
print(t1)

In [ ]:
# list to tupple
list1=["sunny","singh",1,2,3]
t1 = tuple(list1)
print(t1)

In [ ]:
# dict to tupple
dict1={4: 'four', 5: 'five'}
t1 = tuple(dict1)
print(t1)

In [ ]:
# dict to tupple
dict1={4: 'four', 5: 'five'}
t1 = tuple(dict1)
print(t1)

In [ ]:
# dict keys to tupple
t1 = tuple(dict1.keys())
print(t1)

In [ ]:
# dict value to tupple
t1 = tuple(dict1.values())
print(t1)

# 2. list()
    A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [ ]:
#help(list)

**Create List**

In [ ]:
e=list()
type(e)

In [ ]:
e=[]
type(e)

In [ ]:
list1 = [1, "hi", "python", 2]
type(list1 )

**Read List**

In [ ]:
list1

In [ ]:
for x in list1:
    print(x,end=", ")

In [ ]:
list1[3]

**Update list**

In [ ]:
thislist[1] = 6
thislist

In [ ]:
5 in thislist

**Delete List**

In [ ]:
#del keyword removes the specified index:
del thislist[0]
thislist

In [ ]:
#list del
#del thislist

In [ ]:
# 2D

In [ ]:
X-axis: Column
Y-axis: Row

In [55]:
A=[
[  0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
[100,110,120,130,140,150,160,170,180,190],
[200,210,220,230,240,250,260,270,280,290],
[300,310,320,330,340,350,360,370,380,390],
[400,410,420,430,440,450,460,470,480,490],
[500,510,520,530,540,550,560,570,580,590],
[600,610,620,630,640,650,660,670,680,690],
[700,710,720,730,740,750,760,770,780,790],
[800,810,820,830,840,850,860,870,880,890],
[900,910,920,930,940,950,960,970,980,990]
]

A

[[0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [100, 110, 120, 130, 140, 150, 160, 170, 180, 190],
 [200, 210, 220, 230, 240, 250, 260, 270, 280, 290],
 [300, 310, 320, 330, 340, 350, 360, 370, 380, 390],
 [400, 410, 420, 430, 440, 450, 460, 470, 480, 490],
 [500, 510, 520, 530, 540, 550, 560, 570, 580, 590],
 [600, 610, 620, 630, 640, 650, 660, 670, 680, 690],
 [700, 710, 720, 730, 740, 750, 760, 770, 780, 790],
 [800, 810, 820, 830, 840, 850, 860, 870, 880, 890],
 [900, 910, 920, 930, 940, 950, 960, 970, 980, 990]]

In [56]:
def RowShape(arr):
    return len(arr)
def ColShape(arr):
    size_list=[len(arr[a])  for a in range (0,len(arr))]
    if len(set(size_list))==1:
        return size_list[0]
    else:
        print("Array not same")
        return size_list


def shape(arr):
    return dict(row = RowShape(arr),col=ColShape(arr))

In [57]:
shape(A)

{'row': 10, 'col': 10}

[ Initial : End : IndexJump ]

In [66]:
#Row
A[0:2]

[[0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [100, 110, 120, 130, 140, 150, 160, 170, 180, 190]]

In [75]:
A[0:5:3]

[[0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [300, 310, 320, 330, 340, 350, 360, 370, 380, 390]]

In [ ]:


# a=data[0:5,0:1,:]
# print(a.shape)
# a
data = [

### method


|Method|Description|
    |:-------------|:------------|
|append|Adds an element at the end of the list
|clear()|Removes all the elements from the list
|copy()|Returns a copy of the list
|count()|Returns the number of elements with the specified value
|extend()|Add the elements of a list (or any iterable), to the end of the current list
|index()|Returns the index of the first element with the specified value
|insert()|Adds an element at the specified position
|pop()|Removes the element at the specified position
|remove()|Removes the first item with the specified value
|reverse()|Reverses the order of the list
|sort()|Sorts the list


**Stack (FIFO):**
- .pop(-1),
- append()

**Queue (LIFO):**
- pop(1),
- append()

In [ ]:
#thislist =['apple', 'banana', 'cherry']
thislist =['banana', 'cherry']

In [ ]:
#.insert() an item as the second position:
thislist.insert(0,'apple')  
thislist.insert(0,'apple')  
thislist

In [ ]:
#.append()
thislist.append("orange")
thislist

In [ ]:
b = ["Ford", "BMW", "Volvo"]
thislist.append(b)
thislist

In [ ]:
#.remove() method removes the specified item:
thislist.remove('banana')
thislist

In [ ]:
#.pop() method removes the specified index, (or the last item if index is not specified):
print(thislist.pop())
print(thislist)

In [ ]:
print(thislist.pop(0))   # 0,1,..,-1,..
print(thislist)

In [ ]:
#.clear() method empties the list:
# thislist.clear()                   #[]

In [ ]:
thislist.remove('cherry')       
print(thislist)

In [ ]:
thislist = [2,5,74,36,31,4]
# It will sort alphabetically and print
thislist.sort()          
thislist

In [ ]:
# It will reverse the list and print
thislist.reverse()      
thislist

In [ ]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
fruits

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
x

In [ ]:
fruits = ['apple', 'banana', 'cherry','cherry']
x = fruits.count("cherry")
x

In [ ]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
x

**Conversion (Type Casting in Tuple)**

In [ ]:
#tuple to list
list((2,5,74,36,31,4))

In [ ]:
**Conversion (Type Casting in List)**

In [ ]:
#int to str to tuple
int1=234567
try:
    t1 = list(int1)     #'int' object is not iterable
except:
    t1 = list(int(i) for i in str(int1))
    
print(t1)

In [ ]:
#str to list
str1 = 'Java'  
t1 = list(str1)
print(t1)

In [ ]:
#str to list
str1 = 'Java Python'  
t1 = list(str1)
print(t1)

In [ ]:
#str to list
str1 = 'Java Python'.split(" ") 
t1 = list(str1)
print(t1)

In [ ]:
# tuple to list
list1=("sunny","singh",1,2,3)
t1 = list(list1)
print(t1)

In [ ]:
# dict to list
dict1={4: 'four', 5: 'five'}
t1 = list(dict1)
print(t1)

In [ ]:
# dict to list
dict1={4: 'four', 5: 'five'}
t1 = list(dict1)
print(t1)

In [ ]:
# dict keys to list
t1 = tuple(dict1.keys())
print(t1)

In [ ]:
# dict value to list
t1 = list(dict1.values())
print(t1)

# <center>Built-in Functions</center>

In [ ]:
#help(__builtins__)

## a. range

type : range
1. range(no.elemen Store)
2. range(initial_value,final_value)
3. range(initial_value,final_value,step)      {initial_value} < {final_value}   Step positive
4. range(initial_value,final_value,step)      {initial_value} > {final_value}   Step Negetive

In [ ]:
# empty range(stop)
print(range(0))
list(range(0))

In [ ]:
# using the range(stop)
print(range(4))
print(list(range(4)))

In [ ]:
# using the range(start, stop)
print(range(1,20))
print(list(range(1,20)))

In [ ]:
# using the range(start, stop,step)
print(range(1,20,2))
print(list(range(1,20,2)))

In [ ]:
# using the range(start, stop,step)
print(range(20,1,-2))
print(list(range(20,1,-2)))

## b. len, min, max,  sorted, reversed

In [ ]:
#help(min)
#help(max)
#help(len)

**Number**

In [ ]:
# min(2225,325,2025)
# 325

# max(2225,325,2025)
# 2225

**float**

In [ ]:
# min(1000.25,2025.35,5625.36,10052.50)
# 1000.25

# max(1000.25,2025.35,5625.36,10052.50)
# 10052.5

**str**

In [ ]:
a = 'hello python developer'

In [ ]:
# min(a)
# ' '

# max(a)
# 'y'

# len(a)
# 22

# sorted(a)   
# [' ',' ','d','e','e','e','e','h','h','l','l','l','n','o','o','o','p','p','r','t','v','y']

# list(reversed(a))
# ['r','e','p','o','l','e','v','e','d',' ','n','o','h','t','y','p',' ','o','l','l','e','h']

**list / tuple**

In [ ]:
#a = [2,5,74,36,31,4]
a = (2,5,74,36,31,4)

In [ ]:
# min(a)
# 2

# max(a)
# 74

# len(a)
# 6

# sorted(a)
# [2, 4, 5, 31, 36, 74]

In [ ]:
#list(reversed(a))
tuple(reversed(a))

## c. next( ), iter( )

In [ ]:
#help(next)
#help(iter)

In [ ]:
# list of numbers  
list1 = [1,2,3,4,5]

In [ ]:
 # Creating iterator  
listIter = iter(list1)

In [ ]:
next(listIter)

In [ ]:
next(listIter)

In [ ]:
next(listIter)

In [ ]:
next(listIter)

## d. zip( )

In [ ]:
# result = zip()
# resultList = list(result)  
# resultList

In [ ]:
#help(zip)

In [ ]:
numList = [4,5, 6]  
strList = ['four', 'five', 'six']

In [ ]:
# Converting itertor to list
result = zip(numList, strList) 
resultSet = set(result)  
resultList

In [ ]:
type(resultSet)

In [ ]:
result = zip(numList, strList) 
resultList = list(result)  
resultList

In [ ]:
type(resultList)

## e.map( )

**Map Function**

        Map takes a function and a collection of items. It makes a new, empty collection, runs the function on each item in
        the original collection and inserts each return value into the new collection. It returns the new collection.
        This is a simple map that takes a list of names and returns a list of the lengths of those names:

In [ ]:
#help(map)

In [ ]:
a= ["Mary", "Isla", "Sam"]
list(map(len,a))

In [ ]:
def calculateAddition(n):
    return n+n

In [ ]:
numbers = (1, 2, 6, 4)
list(map(calculateAddition, numbers))

In [ ]:
#help(all)
#The all() function returns True if all items in an iterable are true, otherwise it returns False.
k = [1, 3, 4, 6]  # all values true
print(all(k))  
k = [0, False]      # all values false 
print(all(k))  
k = [1, 3, 7, 0]    # one false value 
print(all(k))  
k = [0, False, 5]   # one true value  
print(all(k))  
k = []               # empty iterable  
print(all(k))

In [ ]:
#help(any)
# The any() function returns True if any item in an iterable are true, otherwise it returns False.
# If the iterable object is empty, the any() function will return False.

In [ ]:
l = [4, 3, 2, 0]                              
print(any(l))                                   
l = [0, False]  
print(any(l))  
l = [0, False, 5]  
print(any(l))    
l = []  
print(any(l))