- tuple
- list
- range
- map 
- zip
- len 
- max
- min 
- sort
- reversed

# tuple( )

> A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [18]:
# help(tuple)

**Create Tuple**

In [1]:
f=tuple()
type(f),f

(tuple, ())

In [3]:
f=()
type(f),f

(tuple, ())

In [3]:
f=('sunny')    #str
type(f),f

(str, 'sunny')

In [4]:
f=('sunny',)    #tuple
type(f),f

(tuple, ('sunny',))

In [7]:
f="sunny",
type(f),f

(tuple, ('sunny',))

In [8]:
f="sunny","singht"
type(f),f

(tuple, ('sunny', 'singht'))

**Read Tuple**

In [10]:
f1=("hi", "python", 2)
print(f1)

('hi', 'python', 2)

In [11]:
'hi'in f1

True

In [12]:
for x in f1:
#     print(x,end=", ")
    print(x)

hi
python
2

In [9]:
f1[1]

'python'

In [10]:
"apple" in f1

False

In [11]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
*red = fruits

**Update Tuple**

In [12]:
#'tuple' object does not support item assignment
#thistuple[1] = "blackcurrant"

In [13]:
f1=f1+("C++",)
f1

('hi', 'python', 2, 'C++')

**Delete Tuple**

In [14]:
# thistuple = ("apple", "banana", "cherry")
# del thistuple
# thistuple     # name 'thistuple' is not defined

### Tuple Methods

In [15]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.count(5)

2

In [15]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
thistuple.index(8)

3

**Conversion (Type Casting in Tuple)**

In [19]:
#int to str to tuple
int1=234567

In [1]:
# t1 = tuple(int1)     #'int' object is not iterable

In [17]:
# t1 = tuple(int(i) for i in str(int1))

(2, 3, 4, 5, 6, 7)

In [18]:
str1 = 'Java'  
tuple(str1)

('J', 'a', 'v', 'a')

In [19]:
str1 = 'Java Python'  
tuple(str1)

('J', 'a', 'v', 'a', ' ', 'P', 'y', 't', 'h', 'o', 'n')

In [20]:
str1 = 'Java Python'.split(" ")
tuple(str1)

('Java', 'Python')

In [21]:
list1=["sunny","singh",1,2,3]
tuple(list1)

('sunny', 'singh', 1, 2, 3)

In [22]:
dict1={4: 'four', 5: 'five'}
tuple(dict1)

(4, 5)

In [23]:
tuple(dict1.keys())

(4, 5)

In [24]:
tuple(dict1.values())

('four', 'five')

# list()
>    A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [25]:
#help(list)

**Create List**

In [26]:
e=list()
e=[]

In [3]:
list1 = [1, "hi", "python", 2]

**Read List**

In [4]:
list1

[1, 'hi', 'python', 2]

In [7]:
for x in list1:
    print(x,end=", ")

1, hi, python, 2,

In [30]:
list1[3]

2

**Update list**

In [33]:
list1[1] = 6
list1

[1, 6, 'python', 2]

In [34]:
5 in list1

False

**Delete List**

In [8]:
#del keyword removes the specified index:
del list1[0]
list1

['hi', 'python', 2]

In [36]:
#list del
#del thislist

**List Slice**

[ Initial : End : IndexJump ]

In [9]:
thislist = [2,5,74,36,31,4]
thislist[2]

74

In [10]:
thislist[0:5]

[2, 5, 74, 36, 31]

In [11]:
thislist[0:5:2]

[2, 74, 31]

In [18]:
thislist[-1:-4:10]

[]

### method


|Method|Description|
    |:-------------|:------------|
|append|Adds an element at the end of the list
|clear()|Removes all the elements from the list
|copy()|Returns a copy of the list
|count()|Returns the number of elements with the specified value
|extend()|Add the elements of a list (or any iterable), to the end of the current list
|index()|Returns the index of the first element with the specified value
|insert()|Adds an element at the specified position
|pop()|Removes the element at the specified position
|remove()|Removes the first item with the specified value
|reverse()|Reverses the order of the list
|sort()|Sorts the list


**Stack (FIFO):**
- .pop(-1),
- append()

**Queue (LIFO):**
- pop(1),
- append()

In [40]:
#thislist =['apple', 'banana', 'cherry']
thislist =['banana', 'cherry']

In [41]:
#.insert() an item as the second position:
thislist.insert(0,'apple')  
thislist.insert(0,'apple')  
thislist

['apple', 'apple', 'banana', 'cherry']

In [42]:
#.append()
thislist.append("orange")
thislist

['apple', 'apple', 'banana', 'cherry', 'orange']

In [43]:
b = ["Ford", "BMW", "Volvo"]
thislist.append(b)
thislist

['apple', 'apple', 'banana', 'cherry', 'orange', ['Ford', 'BMW', 'Volvo']]

In [44]:
#.remove() method removes the specified item:
thislist.remove('banana')
thislist

['apple', 'apple', 'cherry', 'orange', ['Ford', 'BMW', 'Volvo']]

In [45]:
#.pop() method removes the specified index, (or the last item if index is not specified):
print(thislist.pop())
print(thislist)

['Ford', 'BMW', 'Volvo']
['apple', 'apple', 'cherry', 'orange']

In [46]:
print(thislist.pop(0))   # 0,1,..,-1,..
print(thislist)

apple
['apple', 'cherry', 'orange']

In [47]:
#.clear() method empties the list:
# thislist.clear()                   #[]

In [48]:
thislist.remove('cherry')       
print(thislist)

['apple', 'orange']

In [49]:
thislist = [2,5,74,36,31,4]
# It will sort alphabetically and print
thislist.sort()          
thislist

[2, 4, 5, 31, 36, 74]

In [19]:
help(thislist.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [50]:
# It will reverse the list and print
thislist.reverse()      
thislist

[74, 36, 31, 5, 4, 2]

In [51]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [52]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

In [53]:
fruits = ['apple', 'banana', 'cherry','cherry']
x = fruits.count("cherry")
x

2

In [54]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
x

2

**Conversion (Type Casting in List)**

In [59]:
#int to str to tuple
int1=234567
try:
    t1 = list(int1)     #'int' object is not iterable
except:
    t1 = list(int(i) for i in str(int1))
    
print(t1)

[2, 3, 4, 5, 6, 7]

In [60]:
#str to list
str1 = 'Java'  
t1 = list(str1)
print(t1)

['J', 'a', 'v', 'a']

In [61]:
#str to list
str1 = 'Java Python'  
t1 = list(str1)
print(t1)

['J', 'a', 'v', 'a', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [62]:
#str to list
str1 = 'Java Python'.split(" ") 
t1 = list(str1)
print(t1)

['Java', 'Python']

In [63]:
# tuple to list
list1=("sunny","singh",1,2,3)
t1 = list(list1)
print(t1)

['sunny', 'singh', 1, 2, 3]

In [64]:
# dict to list
dict1={4: 'four', 5: 'five'}
t1 = list(dict1)
print(t1)

[4, 5]

In [65]:
# dict to list
dict1={4: 'four', 5: 'five'}
t1 = list(dict1)
print(t1)

[4, 5]

In [66]:
# dict keys to list
t1 = tuple(dict1.keys())
print(t1)

(4, 5)

In [67]:
# dict value to list
t1 = list(dict1.values())
print(t1)

['four', 'five']

In [106]:
list(range(3, 6))  # [3, 4, 5]
args = [3, 6]
list(range(*args))

[3, 4, 5]

# <center>Built-in Functions</center>

In [68]:
#help(__builtins__)

## a. range

type : range
1. range(no.elemen Store)
2. range(initial_value,final_value)
3. range(initial_value,final_value,step)      {initial_value} < {final_value}   Step positive
4. range(initial_value,final_value,step)      {initial_value} > {final_value}   Step Negetive

In [69]:
# empty range(stop)
print(range(0))
list(range(0))

range(0, 0)

[]

In [70]:
# using the range(stop)
print(range(4))
print(list(range(4)))

range(0, 4)
[0, 1, 2, 3]

In [71]:
# using the range(start, stop)
print(range(1,20))
print(list(range(1,20)))

range(1, 20)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [72]:
# using the range(start, stop,step)
print(range(1,20,2))
print(list(range(1,20,2)))

range(1, 20, 2)
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
# using the range(start, stop,step)
print(range(20,1,-2))
print(list(range(20,1,-2)))

range(20, 1, -2)
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

## b. len, min, max,  sorted, reversed

In [74]:
#help(min)
#help(max)
#help(len)

**Number**

In [26]:
min(2225,325,2025)

325

In [75]:
# 325

# max(2225,325,2025)
# 2225

**float**

In [76]:
# min(1000.25,2025.35,5625.36,10052.50)
# 1000.25

# max(1000.25,2025.35,5625.36,10052.50)
# 10052.5

**str**

In [77]:
a = 'hello python developer'

In [78]:
# min(a)
# ' '

# max(a)
# 'y'

# len(a)
# 22

# sorted(a)   
# [' ',' ','d','e','e','e','e','h','h','l','l','l','n','o','o','o','p','p','r','t','v','y']

# list(reversed(a))
# ['r','e','p','o','l','e','v','e','d',' ','n','o','h','t','y','p',' ','o','l','l','e','h']

**list / tuple**

In [79]:
#a = [2,5,74,36,31,4]
a = (2,5,74,36,31,4)

In [80]:
# min(a)
# 2

# max(a)
# 74

# len(a)
# 6

# sorted(a)
# [2, 4, 5, 31, 36, 74]

In [81]:
#list(reversed(a))
tuple(reversed(a))

(4, 31, 36, 74, 5, 2)

## c. next( ), iter( )

In [82]:
#help(next)
#help(iter)

In [83]:
# list of numbers  
list1 = [1,2,3,4,5]

In [84]:
 # Creating iterator  
listIter = iter(list1)

In [85]:
next(listIter)

1

In [86]:
next(listIter)

2

In [87]:
next(listIter)

3

In [88]:
next(listIter)

4

## d. zip( )

In [89]:
# result = zip()
# resultList = list(result)  
# resultList

In [90]:
#help(zip)

In [91]:
numList = [4,5, 6]  
strList = ['four', 'five', 'six']

In [95]:
# Converting itertor to list
result = zip(numList, strList) 
resultSet = set(result)  
resultSet

{(4, 'four'), (5, 'five'), (6, 'six')}

In [96]:
type(resultSet)

set

In [97]:
result = zip(numList, strList) 
resultList = list(result)  
resultList

[(4, 'four'), (5, 'five'), (6, 'six')]

In [98]:
type(resultList)

list

## e.map( )

**Map Function**

        Map takes a function and a collection of items. It makes a new, empty collection, runs the function on each item in
        the original collection and inserts each return value into the new collection. It returns the new collection.
        This is a simple map that takes a list of names and returns a list of the lengths of those names:

In [99]:
#help(map)

In [100]:
a= ["Mary", "Isla", "Sam"]
list(map(len,a))

[4, 4, 3]

In [101]:
def calculateAddition(n):
    return n+n

In [102]:
numbers = (1, 2, 6, 4)
list(map(calculateAddition, numbers))

[2, 4, 12, 8]

In [103]:
#help(all)
#The all() function returns True if all items in an iterable are true, otherwise it returns False.
k = [1, 3, 4, 6]  # all values true
print(all(k))  
k = [0, False]      # all values false 
print(all(k))  
k = [1, 3, 7, 0]    # one false value 
print(all(k))  
k = [0, False, 5]   # one true value  
print(all(k))  
k = []               # empty iterable  
print(all(k))

True
False
False
False
True

In [104]:
#help(any)
# The any() function returns True if any item in an iterable are true, otherwise it returns False.
# If the iterable object is empty, the any() function will return False.

In [105]:
l = [4, 3, 2, 0]                              
print(any(l))                                   
l = [0, False]  
print(any(l))  
l = [0, False, 5]  
print(any(l))    
l = []  
print(any(l))

True
False
True
False