# set( )
> - A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [1]:
#help(set)

**Create set**

In [2]:
h=set()
h={""}

In [3]:
h={'Friday', 'Tuesday', 'Monday', 'Saturday'}
type(h)

set

**Read set**

In [4]:
h={'Friday', 'Tuesday', 'Monday', 'Saturday'}
h

{'Friday', 'Monday', 'Saturday', 'Tuesday'}

In [5]:
for x in h:
    print(x,end=", ")

Monday, Saturday, Tuesday, Friday,

In [6]:
'Friday' in h

True

**Update Set**

In [7]:
#'set' object does not support item assignment
# h[0]="sunday"

**Delete Set**

In [8]:
thisset = {"apple", "banana", "cherry"}
# del thisset
# thisset                                 #NameError: name 'thisset' is not defined

**CRUD Method**

|Method                   |                Description|
    |:-------------|:------------|
|add()                           |    Adds an element to the set
|clear()                        |     Removes all the elements from the set
|copy()                          |    Returns a copy of the set
|discard()                       |    Remove the specified item
|pop()                            |   Removes the specified element
|remove()	                      |   Removes the specified element
|update()	                       |  Update the set with the union of this set and others

In [9]:
A = {"apple", "banana", "cherry"}
A

{'apple', 'banana', 'cherry'}

In [10]:
A.add("orange"),A

(None, {'apple', 'banana', 'cherry', 'orange'})

In [11]:
# A.clear()
# print(A)                                  #set() EMPTY thisset

In [12]:
B=A.copy()
B

{'apple', 'banana', 'cherry', 'orange'}

In [13]:
A.discard("banana"),A

(None, {'apple', 'cherry', 'orange'})

In [14]:
A.pop(),A

('orange', {'apple', 'cherry'})

In [15]:
A.remove('cherry'),A

(None, {'apple'})

In [16]:
A.update([ 'banana', 'cherry', 'orange', "mango", "grapes"]),A

(None, {'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'})


**Operation Method**

|Method                   |                Description|
    |:-------------|:------------|
|union()                           |  Return a set containing the union of sets
|intersection()                   |   Returns a set, that is the intersection of two other sets
|difference()                     |   Returns a set containing the difference between two or more sets
|difference_update()              |   Removes the items in this set that are also included in another, specified set
|intersection_update()	           |  Removes the items in this set that are not present in other, specified set(s)
|isdisjoint()	                 |    Returns whether two sets have a intersection or not
|issubset()                       |   Returns whether another set contains this set or not
|issuperset()	                  |   Returns whether this set contains another set or not
|symmetric_difference()           |   Returns a set with the symmetric differences of two sets
|symmetric_difference_update()     |  inserts the symmetric differences from this set and another

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [18]:
x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [19]:
x.intersection(y)

{'apple'}

In [20]:
x.difference(y)

{'banana', 'cherry'}

In [21]:
x.symmetric_difference(y)

{'banana', 'cherry', 'google', 'microsoft'}

In [22]:
z=x.copy()
z.intersection_update(y),z

(None, {'apple'})

In [23]:
z=x.copy()
z.difference_update(y),z

(None, {'banana', 'cherry'})

In [24]:
z=x.copy()
z.symmetric_difference_update(y),z

(None, {'banana', 'cherry', 'google', 'microsoft'})

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
x.isdisjoint(y)

True

In [26]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [27]:
x.issubset(y)

True

In [28]:
y.issuperset(x)

True

**Conversion (Type Casting in Tuple)**

In [38]:
int1=519485416514
try:
    t1 = set(int1)     #'int' object is not iterable
except:
    t1 = set(int(i) for i in str(int1))
t1

{1, 4, 5, 6, 8, 9}

In [37]:
str1 = 'Java'  
set(str1)

{'J', 'a', 'v'}

In [39]:
str1 = 'Java Python'.split(" ") 
set(str1)

{'Java', 'Python'}

In [40]:
list1=["sunny","singh",1,2,3]
set(list1)

{1, 2, 3, 'singh', 'sunny'}

In [41]:
dict1={4: 'four', 5: 'five'}
set(dict1)

{4, 5}

In [45]:
set(dict1.keys())

{4, 5}

In [46]:
set(dict1.values())

{'five', 'four'}

## i. Frozenset ( )

In [47]:
person = {"name": "John", "age": 23, "sex": "male"}
fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'sex', 'name'})

In [48]:
A = frozenset([1, 2, 3, 4])
A

frozenset({1, 2, 3, 4})

In [49]:
C = A.copy()
C

frozenset({1, 2, 3, 4})