## h. set( )
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [247]:
#help(set)

**Create set**

In [1]:
h=set()
type(h)

set

In [2]:
h={""}
type(h)

set

In [3]:
h={'Friday', 'Tuesday', 'Monday', 'Saturday'}
type(h)

set

**Read set**

In [109]:
h={'Friday', 'Tuesday', 'Monday', 'Saturday'}
h

{'Friday', 'Monday', 'Saturday', 'Tuesday'}

In [112]:
for x in h:
    print(x,end=", ")

Friday, Tuesday, Saturday, Monday,

In [113]:
'Friday' in h

True

**Update Set**

In [116]:
#'set' object does not support item assignment
# h[0]="sunday"

**Delete Set**

In [ ]:
thisset = {"apple", "banana", "cherry"}
# del thisset
# thisset                                 #NameError: name 'thisset' is not defined

**CRUD Method**

|Method                   |                Description|
    |:-------------|:------------|
|add()                           |    Adds an element to the set
|clear()                        |     Removes all the elements from the set
|copy()                          |    Returns a copy of the set
|discard()                       |    Remove the specified item
|pop()                            |   Removes the specified element
|remove()	                      |   Removes the specified element
|update()	                       |  Update the set with the union of this set and others

In [25]:
A = {"apple", "banana", "cherry"}
A

{'apple', 'banana', 'cherry'}

In [26]:
A.add("orange"),A

(None, {'apple', 'banana', 'cherry', 'orange'})

In [30]:
# A.clear()
# print(A)                                  #set() EMPTY thisset

In [33]:
A.copy()

{'cherry', 'mango', 'orange'}

In [29]:
A.discard("banana"),A

(None, {'apple', 'cherry', 'mango', 'orange'})

In [31]:
A.pop(),A

('apple', {'cherry', 'mango', 'orange'})

In [28]:
A.remove("grapes"),A

(None, {'apple', 'banana', 'cherry', 'mango', 'orange'})

In [27]:
A.update([ "mango", "grapes"]),A

(None, {'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'})


**Operation Method**

|Method                   |                Description|
    |:-------------|:------------|
|union()                           |  Return a set containing the union of sets
|intersection()                   |   Returns a set, that is the intersection of two other sets
|difference()                     |   Returns a set containing the difference between two or more sets
|difference_update()              |   Removes the items in this set that are also included in another, specified set
|intersection_update()	           |  Removes the items in this set that are not present in other, specified set(s)
|isdisjoint()	                 |    Returns whether two sets have a intersection or not
|issubset()                       |   Returns whether another set contains this set or not
|issuperset()	                  |   Returns whether this set contains another set or not
|symmetric_difference()           |   Returns a set with the symmetric differences of two sets
|symmetric_difference_update()     |  inserts the symmetric differences from this set and another

In [97]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [98]:
x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [99]:
x.intersection(y)

{'apple'}

In [100]:
x.difference(y)

{'banana', 'cherry'}

In [101]:
x.symmetric_difference(y)

{'banana', 'cherry', 'google', 'microsoft'}

In [102]:
z=x.copy()
z.intersection_update(y),z

(None, {'apple'})

In [103]:
z=x.copy()
z.difference_update(y),z

(None, {'banana', 'cherry'})

In [104]:
z=x.copy()
z.symmetric_difference_update(y),z

(None, {'banana', 'cherry', 'google', 'microsoft'})

In [105]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
x.isdisjoint(y)

True

In [106]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [107]:
x.issubset(y)

True

In [108]:
y.issuperset(x)

True

In [ ]:
**Conversion (Type Casting in Tuple)**

#int to str to tuple
int1=234567
try:
    t1 = tuple(int1)     #'int' object is not iterable
except:
    t1 = tuple(int(i) for i in str(int1))
    
print(t1)

#str to tupple
str1 = 'Java'  
t1 = tuple(str1)
print(t1)

#str to tupple
str1 = 'Java Python'  
t1 = tuple(str1)
print('t1=',t1)

#str to tupple
str1 = 'Java Python'.split(" ") 
t1 = tuple(str1)
print('t1=',t1)

# list to tupple
list1=["sunny","singh",1,2,3]
t1 = tuple(list1)
print(t1)

# dict to tupple
dict1={4: 'four', 5: 'five'}
t1 = tuple(dict1)
print(t1)

# dict to tupple
dict1={4: 'four', 5: 'five'}
t1 = tuple(dict1)
print(t1)

# dict keys to tupple
t1 = tuple(dict1.keys())
print(t1)

# dict value to tupple
t1 = tuple(dict1.values())
print(t1)

In [7]:
result2 = set('12')
result3 = set('javatpoint')
# Displaying result
print(result2)
print(result3)

{'1', '2'}
{'n', 'j', 'p', 'o', 't', 'i', 'a', 'v'}

## i. Frozenset( )

In [240]:
person = {"name": "John", "age": 23, "sex": "male"}
fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'name', 'sex', 'age'})

In [243]:
A = frozenset([1, 2, 3, 4])
A

frozenset({1, 2, 3, 4})

In [242]:
C = A.copy()
C

frozenset({1, 2, 3, 4})