    1. datetime             — Basic date and time types
    2. calendar             — General calendar-related functions
    3. collections          — Container datatypes
    4. collections.abc      — Abstract Base Classes for Containers
    5. heapq                — Heap queue algorithm
    6. bisect               — Array bisection algorithm
    7. array                — Efficient arrays of numeric values
    8. weakref              — Weak references
    9. types                — Dynamic type creation and names for built-in types
    11. copy                — Shallow and deep copy operations
    12. pprint              — Data pretty printer
    13. reprlib             — Alternate repr() implementation
    15. enum                — Support for enumerations

In [5]:
# Calling function
result = enumerate([1,2,3])
# Displaying result
print(result)
print(list(result))

<enumerate object at 0x0000028DB7910138>
[(0, 1), (1, 2), (2, 3)]

## 1. Datetime

In [ ]:
import datetime as dt

- datetime — Basic date and time types

Available Types
    
    - timedelta Objects
    - date Objects
    - datetime Objects
    - time Objects
    - tzinfo Objects
    - timezone Objects
    - strftime() and strptime() Behavior

In [56]:
#help(dt)

**dt Data**

In [45]:
# DATA
dt.MINYEAR  #1
dt.MAXYEAR  #9999
dt.date.max.toordinal()  #3652059
date.resolution  #1

datetime.timedelta(days=1)

In [57]:
from datetime import timedelta

In [58]:
timedelta.min

datetime.timedelta(days=-999999999)

In [59]:
timedelta.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

In [60]:
timedelta.resolution

datetime.timedelta(microseconds=1)

In [ ]:
t1 = t2 + t3

In [54]:
from datetime import date

In [65]:
d=date(1995, 2, 4)
d

datetime.date(1995, 2, 4)

In [72]:
import time
date.fromtimestamp(time.time())

datetime.date(2021, 3, 27)

In [66]:
d.toordinal()

728328

In [67]:
d=date.today()
d

datetime.date(2021, 3, 27)

In [68]:
d.isoweekday()

6

In [44]:
d.isocalendar()

(1995, 5, 6)

In [63]:
d.isoformat()

'1995-02-04'

In [49]:
dt.date.year

In [48]:
dt.date.month

In [51]:
date.day

4

**Date Operation**

In [2]:
delta = dt.timedelta(
     days=50,
     seconds=27,
     microseconds=10,
     milliseconds=29000,
     minutes=5,
     hours=8,
     weeks=2
 )

In [3]:
delta

datetime.timedelta(days=64, seconds=29156, microseconds=10)

In [5]:
datetime.MINYEAR

NameError: name 'datetime' is not defined

In [9]:
datetime.MAXYEAR

9999

# Available Types

In [10]:
datetime.date

datetime.date

In [11]:
datetime.time

datetime.time

In [12]:
datetime.datetime

datetime.datetime

In [13]:
datetime.timedelta

datetime.timedelta

In [14]:
datetime.tzinfo

datetime.tzinfo

In [15]:
datetime.timezone

datetime.timezone

object
    timedelta
    tzinfo
        timezone
    time
    date
        datetime

In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2021-03-27 00:07:46.965715

In [2]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2021
Saturday

In [3]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [4]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

Directive	Description	Example	Try it
%a	Weekday, short version	Wed	
%A	Weekday, full version	Wednesday	
%w	Weekday as a number 0-6, 0 is Sunday	3	
%d	Day of month 01-31	31	
%b	Month name, short version	Dec	
%B	Month name, full version	December	
%m	Month as a number 01-12	12	
%y	Year, short version, without century	18	
%Y	Year, full version	2018	
%H	Hour 00-23	17	
%I	Hour 00-12	05	
%p	AM/PM	PM	
%M	Minute 00-59	41	
%S	Second 00-59	08	
%f	Microsecond 000000-999999	548513	
%z	UTC offset	+0100	
%Z	Timezone	CST	
%j	Day number of year 001-366	365	
%U	Week number of year, Sunday as the first day of week, 00-53	52	
%W	Week number of year, Monday as the first day of week, 00-53	52	
%c	Local version of date and time	Mon Dec 31 17:41:00 2018	
%x	Local version of date	12/31/18	
%X	Local version of time	17:41:00	
%%	A % character	%	
%G	ISO 8601 year	2018	
%u	ISO 8601 weekday (1-7)	1	
%V	ISO 8601 weeknumber (01-53)	01

## 2. Calendar

In [ ]:
import calendar
calendar.setfirstweekday(calendar.SUNDAY)

In [ ]:
class CustomHTMLCal(calendar.HTMLCalendar):
    cssclasses = [style + " text-nowrap" for style in
                  calendar.HTMLCalendar.cssclasses]
    cssclass_month_head = "text-center month-head"
    cssclass_month = "text-center month"
    cssclass_year = "text-italic lead"

##  3. Collections 
##  4. Heapq
##  5. Bisect
##  6. Array
##  7. Weakref
##  8. Types
##  9. Copy
## 10. Pprint
## 11. Reprlib
## 12. Enum