# <center>DataType</center>

In [6]:
a=True                                          #bool
b=10                                            #int
c=10.5                                          #float
d=2.0 + 2.3j                                    #complex
e=l  = [1, "hi", "python", 2]                   #list
f=("hi", "python", 2)                           #tuple
g={1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}     #dict
h={'Friday', 'Tuesday', 'Monday', 'Saturday'}   #set
i="Hi Python"                                   #str

# 1.Bool

Truth Value Testing
    Boolean Operations â€” and, or, not

In [13]:
#help(bool)

In [17]:
#type bool
#(only two value exist in bool (True and False))
a=bool()
print(type(a))
a=bool(True)
print(a)
a=True

<class 'bool'>
True

# Numeric Types
## 1.Int

In [18]:
#help(int)

In [15]:
a=int(5)
b=7
c=int(input("Enter Number only"))
print(c)
print(type(a))
a=7546547
print(len(a))
print(bin(a))

Enter Number only

ValueError: invalid literal for int() with base 10: ''

## 2.Float

In [21]:
#help(float)

## 3.Complex</center>

In [22]:
#Complex
x = 3+5j
y = 5j
z = -5j

# Iterator Types
## 1.Sequence Types
### a.List 
    A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [78]:
#help(list)

In [79]:
#Using the list() constructor to make a List:
thislist = list((2,5,74,36,31,4))
thislist

[2, 5, 74, 36, 31, 4]

In [80]:
thislist = [2,5,74,36,31,4]
thislist

[2, 5, 74, 36, 31, 4]

In [81]:
thislist = [2,5,74,36,31,4]
thislist[4]                    #It will print the list item at 4th index

31

In [82]:
thislist = [2,5,74,36,31,4]
if 5 in thislist:
    print("Yes, '5' is in this list")

Yes, '5' is in this list

In [83]:
thislist = [2,5,74,36,31,4]
for x in thislist:
    print(x)

2
5
74
36
31
4

In [84]:
thislist = [2,5,74,36,31,4]
thislist[1] = 6
thislist

[2, 6, 74, 36, 31, 4]

In [85]:
thislist = [2,5,74,36,31,4]
len(thislist)

6

In [86]:
max(thislist)          #Maximum number in list

74

In [87]:
min(number)         #Minimum number in list

2

Method	Description:-
append()	Adds an element at the end of the list
clear()/DEL	    Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index() 	Returns the index of the first element with the specified value
insert((x[, start[, end ])	Adds an element at the specified position
pop([i ]) 	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	    Sorts the list


B=A[<INTIAL>:<FINAL>]
stack(FIFO):-.pop(-1),append()
Queue(LIFo):pop(1),append()

In [88]:
#Print the number of items in the list:
thislist = [2,5,74,36,31,4]
thislist.append("orange")
print(thislist)         #['apple', 'banana', 'cherry', 'orange']

[2, 5, 74, 36, 31, 4, 'orange']

In [89]:
#The clear() method empties the list:
thislist = [2,5,74,36,31,4]
thislist.clear()
print(thislist)

[]

In [90]:
#The del keyword removes the specified index:
thislist = [2,5,74,36,31,4]
del thislist[0]
print(thislist)

[5, 74, 36, 31, 4]

In [91]:
#The del keyword can also delete the list completely:
thislist = [2,5,74,36,31,4]
#del thislist

In [92]:
#Insert an item as the second position:
thislist = [2,5,74,36,31,4]
thislist.insert(2,300)  
print(thislist)

[2, 5, 300, 74, 36, 31, 4]

In [93]:
#The remove() method removes the specified item:
thislist = [2,5,74,36,31,4]
thislist.remove(74)
print(thislist)

[2, 5, 36, 31, 4]

In [94]:
#The pop() method removes the specified index, (or the last item if index is not specified):
thislist = [2,5,74,36,31,4]
thislist.pop()
print(thislist)

[2, 5, 74, 36, 31]

In [95]:
thislist = [2,5,74,36,31,4]
thislist.remove(74)       
print(thislist)

[2, 5, 36, 31, 4]

In [96]:
thislist = [2,5,74,36,31,4]
thislist.reverse()        #It will reverse the list and print
thislist

[4, 31, 36, 74, 5, 2]

In [ ]:
number.      #Insert function used to insert element between the list (1st argument = index, 2nd argument = element )
print(number)

In [97]:
thislist = [2,5,74,36,31,4]
thislist.sort()           #It will sort alphabetically and print
thislist

[2, 4, 5, 31, 36, 74]

### b.Tuple

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [98]:
#help(tuple)

In [ ]:
#TUPLES ()
#number = (2,5,74,36,31,4)
#print(number)

#CONVERTING LIST INTO TUPLE
# number = [2,5,74,36,31,4]
# print(type(number))
# print(number)
# number = tuple(number)
# print(type(number))

In [99]:
thistuple = ("apple", "banana", "cherry")
thistuple

('apple', 'banana', 'cherry')

In [100]:
thistuple = ("apple", "banana", "cherry")
thistuple[1]

banana

In [101]:
thistuple = ("apple", "banana", "cherry")
#thistuple[1] = "blackcurrant"
# The values will remain the same
thistuple

('apple', 'banana', 'cherry')

In [102]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [103]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [104]:
thistuple = ("apple", "banana", "cherry")
len(thistuple)

3

In [105]:
thistuple = ("apple", "banana", "cherry")
#thistuple[3] = "orange"                # This will raise an error
thistuple      #ERROR Can't change

('apple', 'banana', 'cherry')

In [107]:
thistuple = ("apple", "banana", "cherry")
#del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

('apple', 'banana', 'cherry')

In [106]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)  #('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

### c.Range

In [113]:
"""
range(<no.elemen Store>)
range(<initial_value>,<final_value>)
range(<initial_value>,<final_value>,<step>)      {initial_value} < {final_value}   Step positive
range(<initial_value>,<final_value>,<step>)      {initial_value} > {final_value}   Step Negetive
"""
print(type(range(5)))  #<class 'range'>
print(list(range(3)))
print(list(range(5,10)))
print(list(range(5,10,2)))
print(list(range(5,10,-2)))
print(list(range(5,-10,-2)))
print(list(range(5,-10,2)))
print(list(range(5)))

<class 'range'>
[0, 1, 2]
[5, 6, 7, 8, 9]
[5, 7, 9]
[]
[5, 3, 1, -1, -3, -5, -7, -9]
[]
[0, 1, 2, 3, 4]

In [12]:
a=range(5)
print(a)

range(0, 5)

## 2.Text Sequence Type
### str

In [ ]:
#help(string)

In [ ]:
#WHAT IS STRING (COMBINATIONS OF CHARACTERS)

#EXAMPLE OF STRING SLICING
# str = ("String is a combination of characters")
# print(str[5])       #g is at 5th position
# print(str[0:5])     #from 0 index to total 5 characters
# print(len(str))     #to count the full length of characters
# print(str[0:38])    #to print the full length of characters
# print(str[0:90])    #It says 0 to 90 not available but I can print full lengths
# print(str[0:38:2])  #It will print alternet characters
# print(str[0:])      #It will print full lenght of characters - take all characters after :
# print(str[:23])     #It will print total 23 characters - starts from 0 by default
# print(str[::])      #It will print full characters by default
# print(str[-3:])     #It will print from right to left
# print(str[3:])      #It will print full lenght but replace first 3 characters
# print(str[::-1])    #it will print all characters reverse

#=================================================================

# LEARN SOME PRE-DEFINED FUNCTIONS
str = ("examples of some predefined functions")
# print(str.isalnum())                #it will return FALSE valuse : becasue string is not alphaneumeric
# print(str.isalpha())                #it will return FALSE value : because string is not alpha (because it contains spaces)
# print(str.endswith("functions"))    #it will TRUE value : because string ends with that word
# print(str.count("e"))               #it will count how many times e is available in that string
# print(str.capitalize())             #it will make first letter capital
# print(str.upper())                  #it will print all sentence in uppercase
# print(str.find("some"))             #it says the word "some" is starts from 12th index
# print(str.replace("of","is"))       #it will replace the word "of" with "is" in whole sentence

In [ ]:
    #'hello' is the same as "hello"

a = "Hello, World!"
c = a[1]
b = a[2]
print (c)    #e
print (b)    #l

#Substring. Get the characters from position 2 to position 5 (not included):
bb = "Hello, World!"
print(bb[2:5])      #llo

#The strip() method removes any whitespace from the beginning or the end:
aaa = " Hello, World! "  
print(aaa.strip()) # returns "Hello, World!"

#The len() method returns the length of a string:
a = "Hello, World!"
print(len(a))      #13


#The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())    #hello, world!

#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']


print("Enter your name:")   #sunny
x = input()
print("Hello, " + x)        #Hello sunny

# <center>3.Binary Sequence Types</center>

### bytes

In [16]:
#help(bytes)

### bytearray

### memoryview

# <center>4.Set Types</center>

## set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [8]:
#help(Set)

In [153]:
thisset = {"apple", "banana", "cherry"}
thisset

{'apple', 'banana', 'cherry'}

In [152]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
cherry
banana

In [155]:
thisset = {"apple", "banana", "cherry"}
"banana" in thisset

True

In [ ]:
"""
Method      	                    Description
add()	                            Adds an element to the set
clear()     	                    Removes all the elements from the set
copy()      	                    Returns a copy of the set
difference()	                    Returns a set containing the difference between two or more sets
difference_update()	                Removes the items in this set that are also included in another, specified set
discard()	                        Remove the specified item
intersection()	                    Returns a set, that is the intersection of two other sets
intersection_update()	            Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	                    Returns whether two sets have a intersection or not
issubset()	                        Returns whether another set contains this set or not
issuperset()	                    Returns whether this set contains another set or not
pop()	                            Removes the specified element
remove()	                        Removes the specified element
symmetric_difference()	            Returns a set with the symmetric differences of two sets
symmetric_difference_update()	    inserts the symmetric differences from this set and another
union()	                            Return a set containing the union of sets
update()	                        Update the set with the union of this set and others
"""

In [ ]:
thisset = set(("apple", "banana", "cherry"))
thisset

In [173]:
thisset = {"apple", "banana", "cherry"}

In [174]:
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [175]:
len(thisset)

4

In [176]:
thisset.update([ "mango", "grapes"])
thisset

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [177]:
thisset.remove("grapes")
thisset

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [178]:
thisset.discard("banana")
thisset

{'apple', 'cherry', 'mango', 'orange'}

In [179]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)  
print(thisset)

apple
{'cherry', 'banana'}

In [171]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)                                  #set() EMPTY thisset

set()

In [180]:
thisset = {"apple", "banana", "cherry"}
#del thisset
thisset                                 #NameError: name 'thisset' is not defined

{'apple', 'banana', 'cherry'}

## b.Frozenset

In [137]:
person = {"name": "John", "age": 23, "sex": "male"}
fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'sex', 'name'})

In [138]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [139]:
C = A.copy()
C

frozenset({1, 2, 3, 4})

In [146]:
A.union(B)

frozenset({1, 2, 3, 4, 5, 6})

In [141]:
A.intersection(B)

frozenset({3, 4})

In [145]:
A.difference(B)

frozenset({1, 2})

In [147]:
A.symmetric_difference(B)

frozenset({1, 2, 5, 6})

In [2]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
C = frozenset([5, 6])

# isdisjoint() method
print(A.isdisjoint(C))  # Output: True

# issubset() method
print(C.issubset(B))  # Output: True

# issuperset() method
print(B.issuperset(C))  # Output: True

# <center>5.Mapping Types</center>

True
True
True

## Mapping Types
### dict
A dictionary is a collection which is unordered, changeable and indexed.In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
#help(dict)

In [115]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [128]:
print(len(thisdict))

3

In [120]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [129]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#It is also possible to use the dict() constructor to make a dictionary:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

In [127]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [117]:
thisdict["model"]

'Mustang'

In [119]:
thisdict.get("model")

'Mustang'

In [121]:
for x in thisdict:
    print(x)

brand
model
year

In [122]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
2018

In [124]:
for x in thisdict.values():
    print(x)

Ford
Mustang
2018

In [126]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

In [ ]:
""""
Method	      Description
""""""        """"""""""""
clear()	      Removes all the elements from the dictionary
copy()	      Returns a copy of the dictionary
fromkeys()    Returns a dictionary with the specified keys and values
get()	      Returns the value of the specified key
items()	      Returns a list containing the a tuple for each key value pair
keys()	      Returns a list contianing the dictionary's keys
pop()	      Removes the element with the specified key
popitem()     Removes the last inserted key-value pair
setdefault()  Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()      Updates the dictionary with the specified key-value pairs
values()      Returns a list of all the values in the dictionary
"""

In [149]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [150]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1554, 'red'])

In [151]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1554), ('color', 'red')])

In [136]:
thisdict.update({"year":1554})     #update function is used to add a new key & value inside the dicitionary
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1554, 'color': 'red'}

In [ ]:
#The clear() keyword empties the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
#The pop() method removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
#The del keyword removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
#The del keyword can also delete the dictionary completely:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

# <center>Type Casting</center>

In [ ]:
""" 
1.int()     - Integer
2.float()   - Float Value
3.chr()     - Charecter Value
4.complex
"""

#Integers:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

#Floats:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

#Complex
x = 3+5j
y = 5j
z = -5j

#Strings:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'