## 1) - Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

In [15]:
a = 15
b = 7

In [16]:
#1.+ (Addition)
a + b

22

In [17]:
#2.- (Subtraction)
a - b

8

In [18]:
#3./ (divide)
a / b

2.142857142857143

In [37]:
#4.* (Multiplication)
a * b

70

In [20]:
#5.% (reminder)
a % b      #the Modulus % shows the reminder of the operation (Ex. a divided by b)

1

In [21]:
#6.** (Exponent)
a ** b     #the Exponentiation ** shows the power of first number (Ex. a to the power of b)

170859375

In [22]:
#7.// (Floor division)
a // b     #the Floor Division // rounds the result down to the nearest whole number

2

## 2) - Assignment operators
Assignment operators are used to assign values to variables:

In [26]:
a = 15
a += 5          #same as (a = a+5)
a

20

In [27]:
a = 15
a -= 5          #same as (a = a-5)
a

10

In [28]:
a = 15
a *= 5          #same as (a = a*5)
a

75

In [29]:
a = 15
a /= 5          #same as (a = a/5)
a

3.0

In [31]:
a = 15
a %= 5          #same as (a = a%3)
a

0

In [32]:
a = 15
a //= 5         #same as (a = a//5)
a

3

In [33]:
a = 15
a **= 5         #same as (a = a**5)
a

759375

In [34]:
a = 15
a &= 5          #same as (a = a&5)
a

5

In [35]:
a = 15
a |= 5          #same as (a =x|5)
a

15

In [36]:
a = 15
a ^= 5          #same as (a = a^5)
a

10

In [41]:
a = 15
a >>= 5         #same as (a = a>>5)
a

0

In [42]:
a = 15
a <<= 5         #same as (a = a<<5)
a

480

## 3) Comparison Operators
Comparison operators are used to compare two values:

In [43]:
a = 5
b = 3

In [44]:
a == b       #returns False because 5 is not equal to 3

False

In [45]:
a != b       #returns True because 5 is not equal to 3

True

In [46]:
a > b       #returns True because 5 is greater than 3

True

In [47]:
a < b       #returns False because 5 is not lesser than 3

False

In [48]:
a >= b      #returns True because 5 is greater than 3

True

In [49]:
a <= b      #returns False because 5 is not lesser than 3

False

## 4) Logical Operators
Logical operators are used to combine conditional statements:

In [50]:
a = 5
a > 3 and a < 10         # returns True because 5 is greater than 3 AND 5 is less than 10

True

In [51]:
a > 3 or a < 4           # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [52]:
not(a > 3 and a < 10)    # returns False because not is used to reverse the result

False

## 5) Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [54]:
a = [10, 5]
b = [10, 5]
c = a
a is c

True

In [55]:
a is b

False

In [56]:
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because a is equal to b
a == b

True

## 6) - Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [57]:
a = ["10", "5"]
"5" in a

True

In [ ]:
"3" not in a

## 7) - Bitwise Operators
Bitwise operators are used to compare (binary) numbers: